<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unnamed Blocks</title>
</head>
<body>
    <canvas id="canvas" width="800" height="800" style="background-color: black;"></canvas>
    <canvas id="pieces" width="200" height="800" style="background-color: black;"></canvas>

    <script src="/public/pieces.js"></script>
    <script>
        var GAME_INFO = JSON.parse('<%= locals.gameInfoString || "{}" %>');
    </script>
    <script src="/public/game.js"></script>
</body>
</html>